.notfound-container {
	position: relative;
	top: 5rem;
	max-width: 500px;
	text-align: center;
	margin: auto;
	margin-bottom: 200px;
	padding: 20px;
	animation: errorShake 250ms;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.notfound-container h2 {
	color: gray;
}

.notfound-container a {
	color: gray;
	font-size: 12px;
}

@keyframes errorShake {
	0% {
		transform: translateX(-50px);
	}
	33% {
		transform: translateX(50px);
	}
	66% {
		transform: translateX(-30px);
	}
	100% {
		transform: translateX(0px);
	}
}
