.content {
	position: relative;
	top: 5em;
	max-width: 800px;
	text-align: left;
	margin: auto;
	margin-bottom: 200px;
	padding: 20px;
	animation: contentFadeIn 1200ms;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	background: $content-background;
}

hr {
	border: 1px solid $main-accent-color;
}

.text-highlight {
	color: $main-accent-color;
	font-weight: 600;
}

.gray-hr {
	border: 1px solid $second-accent-color;
}

.home-description {
	color: $main-text-color;
	padding-top: 25px;
}

.home-about-link a {
	color: $second-accent-color;
}

.home-about-link:hover {
	color: $main-accent-color;
	text-decoration: underline;
	text-decoration-color: $main-accent-color;
}

.home-footer h4 {
	color: $main-text-color;
	font-size: 20px;
}

.home-footer {
	padding: 20px;
}

.title {
	padding: 20px;

	h3 {
		color: $main-text-color;
	}
}

.title a {
	font-size: 14px;
	color: $second-accent-color;
	text-decoration: none;
}

.title a:hover {
	color: $main-accent-color;
	text-decoration: underline;
}

.pagelinks {
	padding: 10px;
	display: flex;
	justify-content: space-around;
}

.links {
	width: 75%;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	color: $main-text-color;
}

.github {
	font-size: 50px;
}

.linkedin {
	font-size: 50px;
}

.email {
	font-size: 50px;
}

.resume {
	font-size: 14px;
	color: $second-accent-color;
}

.resume:hover {
	color: $main-accent-color;
}

@keyframes contentFadeIn {
	from {
		opacity: 0;
		transform: translateY(75px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
