.login-form {
	position: relative;
	top: 10rem;
	max-width: 550px;
	text-align: center;
	margin: auto;
	margin-bottom: 200px;
	padding: 20px;
	animation: contentFadeIn 1200ms;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.login-inputs {
	padding-top: 5rem;
}

.login-inputs input[type='name'],
input[type='password'] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid $second-accent-color;
	box-sizing: border-box;
}

.submit-btn {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
