<footer class="footer">
	<div class="footer-content container">
		<h2>Contact</h2>
		<ul class="contact-info">
			</a>
			<li><a href="https://github.com/Checkler3"><i class="fab fa-github-square"></i> Github</a></li>
			<li><a href="https://www.linkedin.com/in/corey-heckler-a38895174/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
			<li>coreyheckler@gmail.com</li>
		</ul>
	</div>
</footer>
