<nav>
	<div class="nav-logo">
		<a href="/"><h4>Corey Heckler</h4></a>
	</div>
	<ul class="nav-links">
		<li>
			<a href="/">Home</a>
		</li>
		<div class="vertical-line"></div>
		<li>
			<a href="/about">About</a>
		</li>
		<div class="vertical-line"></div>
		<li>
			<a href="/projects">Projects</a>
		</li>
		<div class="vertical-line"></div>
		<li>
			<a href="/blog">Blog</a>
		</li>
		<div class="vertical-line"></div>
		<li>
			<a href="/gallery">Photography</a>
		</li>
	</ul>

	<div class="login-register">
			<i class="fas fa-user"> <a href="/user/login"></i> Login/Register</a>
	</div>

	<div class="burger">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
</nav>
