<div class="container content">
	<div class="container title">
		<h1>Corey Heckler</h1>
		<h3>Programmer, Creator</h3>
		<a class="resume" href=""><i class="fas fa-file"></i> Resume </a>
	</div>
	<hr />
	<div class="container pagelinks">
		<a href="/about"><button class="btn pagelink">About</button></a>
		<a href="/projects"><button class="btn pagelink">Projects</button></a>
		<a href="/blog"><button class="btn pagelink">Blog</button></a>
		<a href="/gallery"><button class="btn pagelink">Photograpy</button></a>
	</div>
	<div class="container links">
		<a
			class="btn-icon github"
			target="_blank"
			href="https://github.com/Checkler3"
			><i class="fab fa-github-square"></i>
		</a>
		<a
			class="btn-icon email"
			target="_blank"
			href="email:coreyhecklerdev@gmail.com"
			><i class="fas fa-envelope"></i>
		</a>
		<a
			class="btn-icon linkedin"
			target="_blank"
			href="https://www.linkedin.com/in/corey-heckler-a38895174/"
			><i class="fab fa-linkedin"></i>
		</a>
	</div>
</div>

<script>
	$('btn-icon').hide();
</script>
