<div class="container content">
	<div class="container title">
		<h1>Corey Heckler</h1>
		<h3>Programmer, Musician, Creator</h3>
		<a
			class="resume"
			href="5544529ed7c6a57829955e25e096d4a6.png"
			download="heckler_resume"
		>
			Download My Resume
		</a>
		<hr class="gray-hr" />
		<div class="home-description">
			<p>
				Hello! My name is <span class="text-highlight">Corey</span>, welcome to
				my little slice of internet!
			</p>
			<p>
				Here you will find tons of things I do! From coding projects that I've
				worked on, a blog where I post about my life, a gallery of my
				photography I do in my freetime, and more!
			</p>
			<span class="home-about-link"></span>
			<a href="/about"
					>Visit my about page <i class="fas fa-external-link-alt"></i></i></a></span
					>
		</div>
	</div>
	<hr />
	<div class="home-footer container">
		<h4>Find me here, too</h4>
		<div class="container links">
			<a
				class="btn-icon github"
				target="_blank"
				href="https://github.com/Checkler3"
				data-toggle="tooltip"
				title="Github"
				><i class="fab fa-github-square"></i>
			</a>
			<a
				class="btn-icon email"
				target="_blank"
				href="email:coreyhecklerdev@gmail.com"
				data-toggle="tooltip"
				title="Email Me"
				><i class="fas fa-envelope"></i>
			</a>
			<a
				class="btn-icon linkedin"
				target="_blank"
				href="https://www.linkedin.com/in/corey-heckler-a38895174/"
				data-toggle="tooltip"
				title="LinkedIn"
				><i class="fab fa-linkedin"></i>
			</a>
		</div>
	</div>
</div>

<script></script>
