<div class="container login-form">
	<h2>Behind the scenes</h2>
	<div class="inner-container login-inputs">
		<form action="something" method="POST">
			<label for="username"><i class="fas fa-portrait"></i></label>
			<input
				type="text"
				placeholder="enter username"
				name="username"
				required
			/>

			<label for="password"><i class="fas fa-key"></i></label>
			<input
				type="password"
				placeholder="enter password"
				name="password"
				required
			/>

			<button class="btn submit-btn" type="submit">Login</button>
		</form>
	</div>
</div>
