<div class="notfound-container container">
	<h1>404</h1>
	<h2>That page doesn't exist!</h2>
	<hr />
	<p>Looks like something went wrong somewhere...</p>
	<a href="/">Click here to be redirected to the home page</a>
</div>
