<div class="about-maincontent container">
	<div class="about-header container">
		<!-- <img
			src="/images/about_01.jpg"
			alt="Corey Heckler with family at IUP 2018 Fall Graduation"
			height="200"
			width="200"
		/> -->
		<div class="about-header-description">
			<h1>Corey Heckler</h1>
			<h3>Programmer, Musician, Creator</h3>
			<p></p>
		</div>
	</div>
	<hr />
	<div class="about">
		<p></p>

		<section class="about-section about-experience">
			<h2>Experience</h2>
			<hr />
		</section>
		<section class="about-section about-education">
			<h2>Education</h2>
			<div class="education-item">
				<ul>
					<h4>Indiana University of Pennsylvania</h4>
					<li>
						Bachelor of Science in Computer Science with a minor in Mathematics
						(Graduated December 2018)
					</li>
				</ul>
			</div>
			<div class="education-item">
				<h4>Upper Perkiomen High School</h4>
			</div>
			<hr />
		</section>
		<section class="about-section about-skills">
			<h2>Skills</h2>
			<ul class="about-list">
					<li>
						<i>Programming Languages:</i> high intermediate Javascript/CSS/HTML, intermediate
						Java, beginner PHP/Python/C#
					</li>
					<li><i>Web Frameworks: </i> Express, Node.js, React, beginner Angular, Redux, EJS </li>
					<li><i>Web Libraries: </i> jQuery, p5.js, Bootstrap, SCSS, JSON </li>
					<li><i>Database: </i> SQL, MySQL, PostgreSQL, MongoDB</li>
					<li><i>Computer Science: </i> Object Oriented Programming, Data Structures and Algorithms, Computer Networking</li>
					<li><i>Repository: </i> Git, GitHub</li>
					<li><i>Information Technology: </i> Active Directory, troubleshooting, TCP/IP, networking </li>
					<li><i>Soft Skills: </i>Leadership, Communication, Public Speaking, Friendliness, Creative, Problem Solving </li>
			<hr />
		</section>
		<section class="about-section about-tech-interests">
			<h2>Technical Interests</h2>
			
			<hr />
		</section>
		<section class="about-section about-interests">
				<h2>Other Interests</h2>
					<ul>
						<li>Drumming</li>
							<ul>
								<li><p>I have been drumming since my sophmore year of High School when I join the front ensemble for my 
									schools marching band. Ever since, I have been heavily involved in the marching percussion scene,
									and even traveled across the country (twice!) for 3 months over the summer to perform. This is a HUGE 
									part of my life, and I am still heaviliy invovled today. </p>
									<p>I am part of the <a href='http://pghsteeline.com/quads'>Pittsburgh Steeline</a>, the Steelers
									drumline based out of Pittsburgh, PA.</p>
								</li>
							</ul>
						<li>Gaming</li>
							<ul>
								<li>
									<p>I have been gaming for a very long time. The most interesting aspect of gaming for me is design, environemnt,
									and immersion. I plan on making my own games one day, but for now I enjoy gaming when I have free time.</p>
								</li>
							</ul>
						<li>Guitar, Piano</li>
							<ul>
								<li>
									<p>I love playing these instruments too! Would love to have more time to work on this hobby.</p>
								</li>
							</ul>
					</ul>
				<hr />
			</section>
	</div>
</div>
