<div class="about-maincontent container">
	<div class="title">
		<img
			src="/images/about_01.jpg"
			alt="Corey Heckler with family at IUP 2018 Fall Graduation"
			height="200"
			width="200"
		/>
		<h1>Corey Heckler</h1>
		<a href="/"><i class="fas fa-home"></i></a>
		<hr />
	</div>

	<div class="about">
		<p>
			My name is Corey Heckler.
		</p>
		<p></p>

		<section class="about-section about-experience">
			<h2>Experience</h2>
			<p>Some info on my experience</p>
			<hr />
		</section>
		<section class="about-section about-education">
			<h2>Education</h2>
			<div class="education-item">
				<h3>Indiana University of Pennsylvania</h3>
			</div>
			<div class="education-item">
				<h3>Upper Perkiomen High School</h3>
			</div>
			<hr />
		</section>
		<section class="about-section about-projects">
			<h2>Projects</h2>
			<p>Explanation of projects, and link to projects tabs</p>
			<hr />
		</section>
		<section class="about-section about-goals">
			<h2>Career Goals</h2>
			<p>Explaining where I want to be in the future</p>
			<hr />
		</section>
		<section class="about-section about-hobbies">
			<h2>Hobbies and Interests</h2>
			<p>Section explaining what I like to do for fun, probably about band</p>
			<hr />
		</section>
	</div>
</div>
