<div class="about-maincontent container">
	<div class="title">
		<img
			src="/images/about_01.jpg"
			alt="Corey Heckler with family at IUP 2018 Fall Graduation"
			height="200"
			width="200"
		/>
		<h1>Corey Heckler</h1>
		<hr />
	</div>

	<div class="about">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non
			porta felis. Donec sit amet augue ac arcu bibendum mollis. Sed egestas leo
			a dignissim suscipit. Morbi venenatis suscipit erat, quis condimentum nisl
			congue eget. Etiam consectetur ex eu commodo ullamcorper. Phasellus
			finibus hendrerit magna eu consequat.
		</p>
		<p>
			Morbi tempus leo nec augue rutrum tincidunt. Duis tincidunt eros ut tellus
			condimentum, sed sodales justo varius. Duis id lorem vitae leo vestibulum
			placerat. Duis in ultrices est. Maecenas lacinia, enim id placerat mattis,
			nulla diam iaculis nisl, eu porttitor ligula ligula non libero. Donec sed
			nisl porttitor, iaculis ex at, ullamcorper enim.
		</p>
		<section class="about-section about-experience">
			<h2>Experience</h2>
			<p>Some info on my experience</p>
			<hr />
		</section>
		<section class="about-section about-education">
			<h2>Education</h2>
			<div class="education-item">
				<h3>Indiana University of Pennsylvania</h3>
			</div>
			<div class="education-item">
				<h3>Upper Perkiomen High School</h3>
			</div>
			<hr />
		</section>
		<section class="about-section about-projects">
			<h2>Projects</h2>
			<p>Explanation of projects, and link to projects tabs</p>
			<hr />
		</section>
		<section class="about-section about-goals">
			<h2>Career Goals</h2>
			<p>Explaining where I want to be in the future</p>
			<hr />
		</section>
		<section class="about-section about-hobbies">
			<h2>Hobbies and Interests</h2>
			<p>Section explaining what I like to do for fun, probably about band</p>
			<hr />
		</section>
	</div>
</div>
