<div class="projects-maincontent container">
	<div class="title">
		<h1>Projects</h1>
	</div>

	<div class="about">
		<h2>This is where my projects are listed.</h2>
	</div>
	<hr />
	<div class="project-card website-card">
		<a href="/">
			<img
				src="/images/svg/logo.png"
				alt="The Internationl Space Station (ISS), as seen from space."
				height="200px"
				width="200px"
			/>
			<div class="project-card-description">
				<h2>coreyheckler.com</h2>
				<div class="project-icons">
						<span class="javascript-icon"><i class="fab fa-js"></i></span>
						<span class="node-icon"><i class="fab fa-node-js"></i></i></span>
						<span class="express-icon">Express</span>
						<span class="mongodb-icon">MongoDB</span>
						<span class="ejs-icon">ejs &lt%</span>
						<span class="html5-icon"><i class="fab fa-html5"></i></span>
						<span class="sass-icon"><img src="/images/icons/sass-logo.png" alt="Sass Logo" width="20px" height="20px"></span>
				</div>
				<p>
					The website you're on right now!
				</p>
				<p>
					This is so far my biggest project. I wanted to learn EVERYTHING when it came to making a website, and all
					of the components that go with it. I made this website from scratch (with a tiny pinch of Bootstrap). 
				</p>
			</div>
		</a>
	</div>
	<div class="project-card iss-card">
		<a href="/projects/iss-tracker">
			<img
				src="/images/iss-image.jpg"
				alt="The Internationl Space Station (ISS), as seen from space."
				height="150px"
				width="200px"
			/>
			<div class="project-card-description">
				<h2>
					ISS Tracker
					<span class="javascript-icon"><i class="fab fa-js"></i></span>
					<span class="html5-icon"><i class="fab fa-html5"></i></span>
					<span class="css3-icon"><i class="fab fa-css3"></i></span>
				</h2>
				<p>
					Simple and fun little application that tracks the live coordinates of
					the IIS and renders it on a map!
				</p>
				<p>
					This project was super useful and fun for learning/practicing with
					public API's. Using vanilla Javascript for all the behind the scenes
					work. <br>
					<span><i>(Works on mobile!)</i></span>
				</p>
			</div>
		</a>
	</div>

	<div class="project-card mixandmatch-card">
		<img
			src="/images/thumbnails/mix-match.png"
			alt="Mix-and-Match cardgame cards, showing DCI Logo"
			height="200"
			width="200"
		/>
		<div class="project-card-description">
			<h2>
				Mix-and-Match
				<span class="javascript-icon"><i class="fab fa-js"></i></span>
				<span class="html5-icon"><i class="fab fa-html5"></i></span>
				<span class="css3-icon"><i class="fab fa-css3"></i></span>
			</h2>
			<p>
				Test your memory in this DCI styled Mix-and-Match game!
			</p>
			<p>
				Part of a turorial series I found on YouTube, I think this was an important projects to
				help me understand how HTML, CSS, and Javascript can all work together to create something fun!<br>
				<span><i>(Not 100% mobile friendly!)</i></span>
			</p>
		</div>
	</div>
</div>
