@import 'components/_nav.scss';
@import 'pages/_home.scss';
@import 'pages/_about.scss';
@import 'components/_footer.scss';
@import 'pages/_404.scss';

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.page-container {
	position: relative;
	min-height: 100vh;
}

html {
	overflow-y: hidden;
}

h1 {
	color: indigo;
}

h4 {
	margin-bottom: 0rem;
}

.gray-hr {
	border: 1px solid gray;
}

.text-highlight {
	color: indigo;
	font-weight: 600;
}

body {
	height: 100vh;
	background: whitesmoke;
	background-attachment: fixed;
	font-family: 'Nunito Sans', sans-serif;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+21,e2fff5+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(
		-45deg,
		#ffffff 21%,
		#e2fff5 100%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		-45deg,
		#ffffff 21%,
		#e2fff5 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		135deg,
		#ffffff 21%,
		#e2fff5 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2fff5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
