footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: whitesmoke;
	color: black;
	text-align: center;
	padding: 50px;
}

footer li {
	list-style: none;
}

.footer-content {
	text-align: center;
	margin: 0 auto;
}

.contact-info {
	text-align: left;
	width: 200px;
	margin: 0 auto;
}
